{
  "presets": [
    "@babel/preset-env",
    "@emotion/babel-preset-css-prop",
    ["@babel/preset-react", { "runtime": "automatic" }],
    "@babel/preset-typescript"
  ],
  "plugins": ["@emotion"]
}
