<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <timestamp key="BY_DATE" datePattern="yyyy-MM-dd"/>
    <property name="LOG_PATTERN"
              value="[%d{yyyy-MM-dd HH:mm:ss}:%-4relative] %green([%thread]) %highlight(%-5level) %boldWhite([%C.%M:%yellow(%L)]) - %msg%n"/>
    <property name="DB_PATTERN" value="%green(    > %msg%n)"/>
    <property name="LOG_LOCATION" value="./logs"/>
    <property name="BACKUP_LOCATION" value="./logs"/>
    <property name="DEBUG_LOCATION" value="debug"/>
    <property name="INFO_LOCATION" value="info"/>
    <property name="WARN_LOCATION" value="warn"/>
    <property name="ERROR_LOCATION" value="error"/>
    <property name="MAX_FILE_SIZE" value="100MB"/>
    <property name="MAX_HISTORY" value="14"/>

    <springProfile name="test, local">
        <include resource="logging/console-appender.xml"/>
        <logger name="com.woowacourse.gongseek" level="INFO">
            <appender-ref ref="CONSOLE"/>
        </logger>
        <logger name="org.springframework.boot" level="INFO">
            <appender-ref ref="CONSOLE"/>
        </logger>
        <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE" additivity="false">
            <appender-ref ref="CONSOLE-DB"/>
        </logger>
        <logger name="org.hibernate.type.descriptor.sql.BasicExtractor" level="TRACE" additivity="false">
            <appender-ref ref="CONSOLE-DB"/>
        </logger>
    </springProfile>

    <springProfile name="dev">
        <include resource="logging/file-info-appender.xml"/>
        <include resource="logging/file-warn-appender.xml"/>
        <include resource="logging/file-error-appender.xml"/>
        <include resource="logging/file-debug-appender.xml"/>
        <logger name="com.woowacourse.gongseek" level="INFO">
            <appender-ref ref="FILE-INFO"/>
            <appender-ref ref="FILE-WARN"/>
            <appender-ref ref="FILE-ERROR"/>
        </logger>
        <logger name="org.springframework.boot" level="INFO">
            <appender-ref ref="FILE-INFO"/>
            <appender-ref ref="FILE-WARN"/>
            <appender-ref ref="FILE-ERROR"/>
        </logger>
        <logger name="com.woowacourse.gongseek.auth.presentation.AuthenticationInterceptor" level="DEBUG">
            <appender-ref ref="FILE-DEBUG"/>
        </logger>
        <logger name="com.zaxxer.hikari" level="DEBUG" >
            <appender-ref ref="FILE-INFO"/>
            <appender-ref ref="FILE_DEBUG"/>
        </logger>
    </springProfile>

    <springProfile name="prod">
        <include resource="logging/file-info-appender.xml"/>
        <include resource="logging/file-warn-appender.xml"/>
        <include resource="logging/file-error-appender.xml"/>
        <logger name="com.woowacourse.gongseek" level="INFO">
            <appender-ref ref="FILE-INFO"/>
            <appender-ref ref="FILE-WARN"/>
            <appender-ref ref="FILE-ERROR"/>
        </logger>
        <logger name="org.springframework.boot" level="INFO">
            <appender-ref ref="FILE-INFO"/>
            <appender-ref ref="FILE-WARN"/>
            <appender-ref ref="FILE-ERROR"/>
        </logger>
        <logger name="com.zaxxer.hikari" level="DEBUG" >
            <appender-ref ref="FILE-INFO"/>
            <appender-ref ref="FILE_DEBUG"/>
        </logger>
    </springProfile>

</configuration>
