<configuration>
    <timestamp key="BY_DATE" datePattern="yyyy-MM-dd"/>

    <springProfile name="prod, dev, test">
        <property name="LOG_PATH" value="./logs"/>
        <include resource="logging/file-access-appender.xml"/>
        <appender-ref ref="FILE-ACCESS"/>
    </springProfile>
</configuration>
